<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" user-scalable="no">
    <link href="../../assets/css/Bootstrap/bootstrap.css" rel="stylesheet"/>
    <link href="../../assets/css/normalisation.css" rel="stylesheet"/>
    <link href="../../assets/css/PC.css" rel="stylesheet"/>
    <link href="../../assets/css/Tablette.css" rel="stylesheet"/>
    <link href="../../assets/css/MOB.css" rel="stylesheet"/>



    <title>Les Pronos Stickers!!</title>
</head>
<body>

<header class="position-relative">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark-red">
        <span class="navbar-brand"><img src="../../assets/img/gif%20logo.gif"/></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="Accueil.html">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vous avez 1000 ¤</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Post_Article.html">Poster un article</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Prono.html">Pronostic de la semaine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Déconnexion</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
    <div class="fin text-center">
        <h1 class="col-sm-12 px-0"> Vous nous quittez déjà?</h1>
        <h1 class="col-sm-12 px-0"> C'est une erreur? <br/>Cliquez-ici</h1>
        <a href="Accueil.php" class="btn btn-danger reconnection">I'm back!</a>
        <h1 class="mb-1">Sinon cliquer sur le logo. <br/>A très bientôt!</h1>
        <a href="index.html"><img src="../../assets/img/logo.png" id="logo"/></a>
    </div>
<main class="col-sm-12">

</main>

<script type="text/javascript" src="../../assets/js/popper.min.js" ></script>
<script type="text/javascript" src="../../assets/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="../../assets/js/Bootstrap/bootstrap.js"></script>
</body>
</html>